.input_form_title {
    text-align: center;
}

.input_form_label {
    align-self: center;
}

.input_form_input {
    border: 0;
    border-radius: 1em;
    height: 2.5em;
    text-align: center;
}

.input_form_label_body {
    display: flex;
    flex-direction: column;
}

.input_form_submit_buttonn {
    align-self: center;
    margin-top: 1em;
}