.pageLayoutHeader {
    background-color: blue;
    padding: 0.4em;
    margin: 0;
    text-align: center;
    color: white;
    border-radius: 0em 0em 0.5em 0.5em;
    font-size: x-large;
}

.pageLayoutBody {
    background-color: burlywood;
    margin: 1em;
    border-radius: 1em;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
    align-self: center;
    padding: 1em;
    border-radius: 1em;
    background-color: blue;
    border: 0;
    color: white;
    font-size: x-large;
    margin: auto;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: rgb(0, 68, 255);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}